.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--comment);
    border-radius: 1rem;
    padding: 2.4rem;

    header{
        display: flex;
        justify-content: flex-end;
        
        button{
            background: none;
            border: none;
        }

        margin-bottom: 1rem;
    }

    .contentContainer{
        margin-bottom: 1.6rem;
        width: 100%;
    }
}