.container{
    width: 100vw;
    height: 100vh;
    background: var(--bg);

    color: var(--txt-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: 1rem;
        border: none;
        border-radius: .5rem;

        background: var(--current-line);

        span {
            font-size: 1rem;
            color: var(--purple);
        }
    }
}

.modalTitle {
    color: var(--txt-color);
    letter-spacing: .2rem;
    font-size: 1.6rem;
    font-weight: 900;

    margin-bottom: .8rem;

    & + p{
        line-height: 1.5rem;
        color: var(--txt-color);
        font-weight: 400;

        margin-bottom: 1.5rem;
    }
}

.closeButton{
    padding: .5rem 1rem;
    border: none;
    color: var(--txt-color);
    background: var(--comment);
    border-radius: .5rem;
    filter: brightness(.85);
}